form {
  background-color: steelblue;
  border-top-color: chartreuse;
  border-top-width: 50px;
  border-top-style: solid;
  border-left: solid 50px steelblue;
  border-right: solid 50px rgb(116, 7, 189);
  border-bottom: solid 50px rgb(116, 7, 189);
  /* border-top-left-radius: 500px;
  border-bottom-right-radius: 500px; */
  border-radius: 500px;
  /* margin-top: 200px;
  margin-left: 550px; */
  margin: 20px;
  /* padding-left: 500px;
  padding-top: 200px; */
  padding: 200px 0px 0px 500px;
}
